/*Master container styles*/
html, body {
    margin: 0; /* Remove default browser margins */
    padding: 0;
    --background-color: #3b413c;
    --footer-color: #2a2f2b;
    --header-color: #ffffff;
    --board-color: #9db5b2;
    --cell-color: #daf0ee;
    --token-color: #94d1be;
    --header-font-size: 3rem;
    --semi-header-font-size: 2rem;
    --body-font-size: 1rem;
}

.master-container{
    background-color: var(--background-color);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 5fr 1fr;
}

/*header container styles*/
.header-container{
    grid-row: 1 / 2;
}

.header-container p{
    align-items: center;
    color: var(--header-color);
    display: flex;
    font-size: var(--header-font-size);
    justify-content: center;
    margin-top: 4rem;
}

/*content container styles*/
.content-container{
    display: grid;
    gap: 20px;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 2fr 1fr;
}

.content-left-panel,
.content-right-panel{
    align-items: center;
    color: var(--header-color);
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    justify-content: center;
    font-size: var(--semi-header-font-size);
    text-align: center;
}

.content-gameboard{
    border-radius: 10px;
    box-sizing: border-box;
    display: grid;
    background-color: var(--board-color);
    gap: 8px;
    grid-column: 2 / 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    margin: 1rem;
    padding: 8px;
    width: clamp(460px, 30%, 460px);
}

.content-cell{
    align-items: center;
    display: flex;
    color: var(--token-color);
    background-color: var(--cell-color);
    border-radius: 10px;
    font-size: var(--header-font-size);
    justify-content: center;
}

.content-hover{
    transition: all 0.3s ease;
}

.content-hover:hover{
    filter:brightness(0.6);
    transform:scale(1.1);
}

.content-right-panel{
    grid-column: 3 / 4;
}


/*footer container styles*/
/*This will show the name of the current player's turn and the winner, to play again the user must click after the game ends*/
.footer-container{
    background-color: var(--footer-color);
    grid-row: 3 / 4;
}

.footer-container p{
    color: var(--header-color);
    font-size: var(--semi-header-font-size);
    text-align: center;
    z-index: 2;
}
